<form
  [formGroup]="teamsForm"
  (ngSubmit)="onSubmit()"
  class="mt-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <mat-card>
        <div class="col-12 d-flex justify-content-center">
          <img src="/assets/nba-logo.png" height="auto" width="40">
        </div>
        <h3 class="text-center">Select team to show history</h3>
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>Select team</mat-label>
            <mat-select formControlName="team_id">
              <mat-option *ngFor="let team of teams" [value]="team.id">
                {{team.full_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field>
            <input matInput
                   placeholder="Choose season date"
                   [satDatepicker]="picker"
                   formControlName="season"
                   [min]="minDate"
                   [max]="maxDate">
            <sat-datepicker
              #picker
              [rangeMode]="true"
              orderPeriodLabel="multi-year">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
          </mat-form-field>
        </div>
        <div class="col-12 text-center">
          <button
            type="submit"
            class="mat-stroked-button"
            [disabled]="!teamsForm.valid">
            Submit
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</form>
