<mat-toolbar>
  <a class="navbar-brand" [routerLink]="['']">
    <img src="/assets/nba-logo-text.png"
         width="60"
         height="auto"
         alt="NBA logo">
  </a>
  <span class="example-spacer"></span>
  <button
    class="tab-button"
    mat-button [routerLink]="['/results/']"
    [routerLinkActive]="'active-link'">
    Results
  </button>
  <button
    class="tab-button"
    mat-button
    [routerLink]="['/charts/']">
    Charts
  </button>
</mat-toolbar>
