<div class="container mt-5">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner diameter="50" *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row mb-2">
          <div class="col-12">
            <app-filter></app-filter>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="overflow: scroll;">
            <mat-card>
              <div style="display: block">
                <canvas *ngIf="chartReady" mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true">
                </canvas>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
