/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~saturn-datepicker/bundle.css';

body {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-color: #f5f5f5;
}
