<div class="container mt-5">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner diameter="50" *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row mb-2">
          <div class="col-12">
            <app-filter></app-filter>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table
              mat-table
              [dataSource]="dataSource"
              matSort
              class="mat-elevation-z8 w-100">
              <ng-container matColumnDef="season">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Season</th>
                <td mat-cell *matCellDef="let element"> {{element.season}} </td>
              </ng-container>
              <ng-container matColumnDef="opponent_team">
                <th mat-header-cell *matHeaderCellDef>Opponent Team</th>
                <td mat-cell *matCellDef="let element">
                  <img
                    class="team-logo"
                    *ngIf="element.team_id"
                    src="/assets/teams/{{element.team_id | teamLogoRenderer }}.png"
                    alt="TeamLogo">
                  <!--{{element.name}}-->
                </td>
              </ng-container>

              <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef>Result</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.points_scored > element.points_lost" class="material-icons"
                        style="color: darkseagreen;">done</span>
                  <span *ngIf="element.points_scored < element.points_lost" class="material-icons"
                        style="color: indianred;">clear</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="points_scored">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Points Scored</th>
                <td mat-cell *matCellDef="let element"> {{element.points_scored}} </td>
              </ng-container>

              <ng-container matColumnDef="points_lost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Points Lost</th>
                <td mat-cell *matCellDef="let element"> {{element.points_lost}} </td>
              </ng-container>

              <ng-container matColumnDef="rebounds">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Rebounds</th>
                <td mat-cell *matCellDef="let element"> {{element.rebounds}} </td>
              </ng-container>

              <ng-container matColumnDef="assists">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Assists</th>
                <td mat-cell *matCellDef="let element"> {{element.assists}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of the game</th>
                <td mat-cell *matCellDef="let element"> {{element.date | date: 'yyyy-MM-dd'}} </td>
              </ng-container>

              <ng-container matColumnDef="opponent_div">
                <th mat-header-cell *matHeaderCellDef>Opponent division</th>
                <td mat-cell *matCellDef="let element"> {{element.division}} </td>
              </ng-container>

              <ng-container matColumnDef="opponent_conf">
                <th mat-header-cell *matHeaderCellDef>Opponent conference</th>
                <td mat-cell *matCellDef="let element"> {{element.conference}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="resultsLength" [pageSize]="8"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
