<mat-accordion id="filter-container">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filters
      </mat-panel-title>
      <mat-panel-description style="justify-content: flex-end;">
        <img
          class="selected-team-logo"
          *ngIf="teamLogo"
          src="/assets/teams/{{teamLogo | teamLogoRenderer }}.png"
          alt="TeamLogo">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="filterGroup" (ngSubmit)="filter()">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <mat-form-field>
              <input matInput
                     placeholder="Choose a season date"
                     [satDatepicker]="picker"
                     formControlName="season"
                     [min]="minDate"
                     [max]="maxDate">
              <sat-datepicker
                #picker
                [rangeMode]="true"
                orderPeriodLabel="multi-year"></sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="fill">
              <mat-label>Select team</mat-label>
              <mat-select formControlName="team">
                <mat-option
                  [disabled]="+params.id === team.id"
                  *ngFor="let team of teams"
                  [value]="team.id">
                  {{team.full_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button
              type="submit"
              class="mat-stroked-button"
              [disabled]="!filterGroup.valid">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
